body {
    font-family: fantasy;
    font-size: 16px;
    line-height: 1;
    background-color: slategray;
}

textarea{
    background: lightslategrey;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: lightcoral;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space:pre;
    height: 100px;
    border-top: 1px solid black;
  }
  
  .hour {
    background-color: lightpink;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: blue;
    color: white;
  }
  
  .present {
    background-color: #3ab554;
    color: black;
  }
  
  .future {
    background-color: yellow;
    color: black;
  }
  
  .saveBtn {
    border: 3px solid black;
    border-left: 3px solid black;
    border-radius: 15px;
    background-color: lightskyblue;
    color: white;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem; 
  }
  
  .saveBtn:hover {
    font-size: 25px;
    color: black;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }